body {
    font-size: var(--font-size);
    font-family: var(--font-paragraph);
}
h1, h2, h3, h4, h5 {
    font-family: var(--font-display);
}

h1 {
    font-size: calc(var(--h1-scale) * var(--font-size));
    text-transform: var(--h1-transform);
}

h2 {
    font-size: calc(var(--h2-scale) * var(--font-size));
}

blockquote p{
    font-size: calc(var(--blockquote-scale) * var(--font-size));
}