@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100;1,200;1,300;1,400;1,500&display=swap');


/* ==================== variables ==================== */
:root {
    --font-display: 'Major Mono Display', monospace;
    --font-paragraph: 'Montserrat', sans-serif;
    --font-size: 16px;
    --h1-scale: 10;
    --h1-transform: uppercase;
    --h2-scale: 3;
    --very-big-gap: 100px;
    --big-gap: 50px;
    --small-gap: 20px;
    --blockquote-scale: 1.5;
}

/* ==================== Global margin ==================== */
.margin {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
header > .margin, main > .margin {
    padding: var(--big-gap);
    border-left-style: solid;
    border-left-width: 1px;
}
header > .margin {
    border-left-color: white;
}
/* ==================== color ==================== */
nav, header {
    background-color: black;
    color: white;
}

/* ==================== Nav bar ==================== */
nav {
    padding-top: var(--small-gap);
    padding-bottom: var(--small-gap);
}
nav ol{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* ==================== html tag ==================== */
header .margin::before, header .margin::after, blockquote ::before, blockquote ::after, h2 ::before, h2 ::after {
    display: block;
    color: #4D91CC;
    font-size: 14px;
    font-weight: 300;
    font-family: var(--font-paragraph);
}
header .margin::before {
    content: '<header>';
}
header .margin::after {
    content: '</header>';
}
blockquote ::before {
    content: '<blockquote>';    
    margin-bottom: var(--small-gap);
}
blockquote ::after {
    content: '</blockquote>';
    margin-top: var(--small-gap);
}
h2 ::before {
    content: '<h2>';    
    margin-bottom: var(--small-gap);
}
h2 ::after {
    content: '</h2>';
    margin-top: var(--small-gap);
}
/* ==================== header ==================== */
h1 {
    margin-left: -1rem;
    line-height: 0.9;
    margin-top: var(--big-gap);
    margin-bottom: var(--big-gap);
}
.direction-2, .direction-3 {
    display: none;
}
h1>span:first-child::after {
    display: inline-block;
    font-size: var(--font-size);
    font-family: var(--font-paragraph);
    /* font-weight: Bold; */
    width: 18em;
    margin-left: var(--small-gap);
    line-height: 1.2;
    content: 'John-Patrick Hartnett Summer 2017';
}

hgroup > p {
    font-size: calc(var(--h2-scale) * var(--font-size));
    margin-bottom: var(--big-gap);
}
address {
    display: none;
}

/* ==================== main ==================== */
main > .margin {
    display: flex;
    flex-direction: column;
    align-items: end;
}
main > .margin > p {
    max-width: 40rem;
    line-height: 1.5;
}
main > .margin > p{
    margin-top: var(--small-gap);
}

blockquote {
    margin-top: var(--big-gap);
    margin-bottom: var(--big-gap);
    max-width: 60rem;
    align-self: flex-start;
    margin-left: -60px;
    padding-left: 60px;
    background-color: white;
}
blockquote p {
    font-weight: bold;
    font-style: italic;
}

h2 {
    margin-top: var(--very-big-gap);
    margin-bottom: var(--big-gap);
    padding-top: var(--small-gap);
    padding-bottom: var(--small-gap);

    align-self: flex-start;
    margin-left: -60px;
    padding-left: 5px;
    /* padding-left: 60px; */
    background-color: white;
}