@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100;1,200;1,300;1,400;1,500&display=swap');
@import url("https://use.typekit.net/lkp2nzz.css");
@media screen and (prefers-reduced-motion: no-preference) {
	html {
	  scroll-behavior: smooth;
	}
}

/* ==================== variables ==================== */
:root {

    /* font sizes */
    --font-size: 14px;
    --h1-scale: 5;
    --subhead-scale: 1.2;
    --h2-scale: 3;
    --blockquote-scale: 2;
    --line-height: 1.5;

    /* gap sizes */
    --very-big-gap: 100px;
    --big-gap: 50px;
    --small-gap: 20px;
    --right-indent: 50px;

    /* colors */
    --bg-color: white;
    --text-color: #202020;
    --quote-color: #E5E5E5;
}

@media (min-width: 1280px){

    :root {
        /* font sizes */
        --font-size: 16px;
        --h1-scale: 10;
        --h2-scale: 6;
        --blockquote-scale: 3;
        --line-height: 2;

        /* gap sizes */
        --very-big-gap: 200px;
        --big-gap: 100px;
        --right-indent: 0px;
    }
}

/* ==================== font ==================== */

body {
    font-family: 'Montserrat', sans-serif;
    font-size: var(--font-size);
    color: var(--text-color);
    background-color: var(--bg-color);
}
h1, h2, h3, h4, h5 {
    font-family: var(--display-font);
    text-transform: uppercase;
    line-height: 120%;
    -webkit-hyphens: manual; /* Safari */
	hyphens: manual;
}
p{
    line-height: var(--line-height);
    max-width: 40em;
}

h1 {
    font-size: calc( var(--font-size) * var(--h1-scale) );
}
#subtitle {
    font-size: calc( var(--font-size) * var(--subhead-scale) );
}
address {
    font-weight: 900;
}
h2 {
    font-size: calc( var(--font-size) * var(--h2-scale) );
}
blockquote p{
    font-size: calc( var(--font-size) * var(--blockquote-scale) );
    font-weight: 900;
    font-style: italic;
    line-height: 1.5;
    max-width: 20em;
}

/* ==================== Global margin ==================== */
.margin {
    margin-left: var(--small-gap);
    margin-right: var(--small-gap);
}
.margin-2 {
    margin-right: var(--right-indent);
}

@media (min-width: 1280px){
    .margin {
        max-width: 1280px;
        margin-left: auto;
        margin-right: auto;
        padding-left: var(--small-gap);
        padding-right: var(--small-gap);
    }
}


/* ==================== Nav bar ==================== */
nav {
    padding-top: var(--small-gap);
    padding-bottom: var(--small-gap);
    line-height: 1.5;
}
nav div ol{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.top-right{
    transform-origin: top right;
    transform: rotate(90deg) translateX(100%);
    top: 50px;
    right: var(--small-gap);
    position: absolute;
}
.bottom-right{
    transform-origin: bottom right;
    transform: rotate(90deg) translateY(100%);
    bottom: var(--small-gap);
    right: var(--small-gap);
    position: fixed;
}
nav a:hover {
    background-color: black;
	color: white;
}

#desktop-nav{
    display: none;
}
@media (min-width:800px){
    #desktop-nav{
        display: block;
    }
    #mobile-nav{
        display: none;
    }
    div ol li:nth-child(2){
        display: none;
    }
}
@media (min-width: 1280px){
    div ol li:nth-child(2){
        display: block;
    }
} 

/* ==================== homepage ==================== */
#homepage{
    margin-bottom: var(--small-gap);
}
#homepage ol li{
    padding-top: var(--big-gap);
    padding-bottom: var(--big-gap);
    border-bottom-color: var(--text-color);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
.article{
    margin-top: var(--small-gap);
    margin-bottom: 0px;
}

#article-1 h2{
    font-family: "lores-9-minus-wide", sans-serif;
}
#article-2 h2{
    font-family: "t26-carbon", monospace;
}
#article-3 h2{
    font-family: "futura-pt-bold", sans-serif;
}
/* ==================== header ==================== */
header {
    padding-top: var(--big-gap);
    padding-bottom: var(--very-big-gap);
}
h1 {
    margin-bottom: var(--big-gap);
}
.h1-space::before{
    content: " ";
}
#subtitle {
    margin-bottom: var(--big-gap);
    max-width: 50rem;
}

@media (min-width: 1280px){
    hgroup {
        display: flex;
        flex-direction: row;
        align-items: end;
    }
    h1 {
        width: 105%;
        margin-bottom: 0px;
    }
    hgroup > div {
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 32px;
    }
}
/* ==================== main ==================== */
main > div{
    padding-top: var(--very-big-gap);
    border-top-color: var(--text-color);
    border-top-style: solid;
    border-top-width: 1px;
}
main > div > p {
    margin-bottom: var(--small-gap);
}

blockquote {
    padding-top: var(--very-big-gap);
    padding-bottom: var(--very-big-gap);
    color: var(--quote-color);

    /* include margin */
    margin-left: calc( var(--small-gap) * -1);
    padding-left: var(--small-gap);
    margin-right: calc( (var(--small-gap) + var(--right-indent)) * -1);
    padding-right: calc( (var(--small-gap) + var(--right-indent)) );
}
@media (min-width: 1280px){
    blockquote {
        margin-left: calc( (100vw - 1280px) / 2 * -1 - var(--small-gap));
        padding-left: calc( (100vw - 1280px) / 2 + var(--small-gap));
        margin-right: calc( (100vw - 1280px) / 2 * -1 - var(--small-gap));
        padding-right: calc( (100vw - 1280px) / 2 + var(--small-gap));
    }
}

.quote-bg {
    position: relative;
    height: 0px;
}
.quote-bg-color {
    position: fixed;
    top: -150vh;
    height: 300vh;
    left: 0;
    width: 100vw;
    color: white;
    background-color: white;
    z-index: -1;
    transition: 0.5s;
}
blockquote:active, blockquote:hover {
    color: white;
}
blockquote:active .quote-bg-color,blockquote:hover .quote-bg-color {
    background-color: black;
}



h2 {
    margin-top: var(--very-big-gap);
    margin-bottom: var(--big-gap);
}